@import "tailwindcss";

@theme {
  --color-arcim-bg: #f9faf7;
  --color-arcim-surface: #ffffff;
  --color-arcim-primary: #050316;
  --color-arcim-accent: #427bf6;
  --color-arcim-border: #e5e7eb;

  --font-family-sans: 'Inter', system-ui, sans-serif;

  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --font-size-body: 14px;
  --font-size-small: 12px;
}

body {
  background-color: var(--color-arcim-bg);
  color: var(--color-arcim-primary);
  font-family: var(--font-family-sans);
}
